body{
    background: url('/Images/pexels-eberhard-grossgasteiger-844297.jpg');
    letter-spacing: 0.2em;
    font-size: 0.8em;
}

.container{
    max-width: 500px;
}
.weather-img{
    position: relative;
    top: -50px;
    border-radius: 80%;
    width: 100px;
    margin-bottom: -50px;
}